# Library Management System

## Test Report

---

### Add Book

**Description**: This section contains the results for testing the "Add Book" functionality. The test verifies that books are correctly added to the library's collection.

<div align="center">
  <img src="./assets/AddBookTest.jpg" alt="Add Book Test" width="60%" style="border: 1px solid #ddd; border-radius: 4px; padding: 5px;">
</div>

<div align="center">
  <img src="./assets/AddBookTest0.jpg" alt="Add Book Test 0" width="60%" style="border: 1px solid #ddd; border-radius: 4px; padding: 5px;">
</div>

---

### Borrow Book

**Description**: This section includes results for the "Borrow Book" functionality, testing various scenarios of borrowing books.

<div align="center">
  <img src="./assets/BorrowBookTest.jpg.png" alt="Borrow Book Test" width="60%" style="border: 1px solid #ddd; border-radius: 4px; padding: 5px;">
</div>

<div align="center">
  <img src="./assets/BorrowBookTest0.jpg.png" alt="Borrow Book Test 0" width="60%" style="border: 1px solid #ddd; border-radius: 4px; padding: 5px;">
</div>

---

### Return Book

**Description**: This section contains the test results for the "Return Book" functionality, verifying that books are correctly returned to the library.

<div align="center">
  <img src="./assets/ReturnBookTest.jpg" alt="Return Book Test" width="60%" style="border: 1px solid #ddd; border-radius: 4px; padding: 5px;">
</div>

<div align="center">
  <img src="./assets/ReturnBookTest0.jpg" alt="Return Book Test 0" width="60%" style="border: 1px solid #ddd; border-radius: 4px; padding: 5px;">
</div>

---

### Available Book

**Description**: This section shows the results for testing the "View Available Books" functionality, ensuring that the library correctly displays books that are currently available.

<div align="center">
  <img src="./assets/ViewAvailableBookTest.jpg" alt="Available Book Test" width="60%" style="border: 1px solid #ddd; border-radius: 4px; padding: 5px;">
</div>

<div align="center">
  <img src="./assets/ViewAvailableBookTest0.jpg" alt="View Available Book Test 0" width="60%" style="border: 1px solid #ddd; border-radius: 4px; padding: 5px;">
</div>

---

### All Tests

**Description**: This section provides an overview of all test cases executed.

<div align="center">
  <img src="./assets/totalTest.jpg" alt="All Tests" width="50%" style="border: 1px solid #ddd; border-radius: 4px; padding: 5px;">
</div>
